{% extends "shop/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <form class="card card-sm">
                <div class="card-body row no-gutters aline-items-center">
                    <div class="col">
                    <input type="search" name="item-name" class="form-control form-control-borderless">
                </div>
                <div class="col-auto">
                <button type="submit" class="btn btn-success">Search</button>

                </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}